<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/d3.js}"></script>
    <script th:src="@{js/NetworkGraph.min.js}"></script>
</head>
<body>
<svg width="960" height="800" id="vis"></svg>
<!--初始化加载案件节点-->
<script>
    $(function () {
        var nodes;
        var links;
        $.ajax({
            url: "/getAllAccidentCase",
            type: "get",
            // dataType:"json",
            success: function (data) {
                nodes = data.nodes;
                links = data.links;
                var network = new NetworkGraph("vis");
                var graph0 = network.drawNetworkGraph(data, "force");
                $(document).on("click","circle",function(){
                    var flag = $(this).attr("flag");console.log(flag);
                    var labelName = $(this).parent().children("text").text();
                   if(flag == "false"){
                       $.get({
                           url:"/getFullRelationByCaseId?caseId="+"TAY163000000334",
                           success:function (data) {
                               $.each(data.nodes,function (i,d) {
                                   graph0.addNode(d);
                               });
                               $.each(data.links,function (i,d) {
                                   var relation = d.relation;
                                   graph0.addLink(d.source,d.target,relation);
                                   setTimeout(function () {
                                       graph0.stopLayout();
                                   },3000)
                               });
                           }
                       })
                       $(this).attr("flag","true");
                   }else{
                       $(this).hide();
                       $(this).attr("flag","false");
                   }
                })
            }

        });



    });
</script>
</body>
</html>