<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/d3.v4.min.js}"></script>
    <style>
    </style>
</head>
<body>
<svg width="960" height="800" ></svg>
<!--初始化加载案件节点-->
<script>
    $(function () {
        var nodes;
        var links;
        var nodes1;
        var links1;
        var source;
        var target;
        var links2;
        var index2;
       $.ajax({
           url:"/getAllAccidentCase",
           type:"get",
           dataType:"json",
           success:function (data) {
               nodes = data.nodes;
               links = data.links;
               var width = 960;
               var height = 800;
               var svg = d3.select("svg")
                   .attr("width",width)
                   .attr("height",height);
               var circle_radius = 30;
               // 通过布局来转换数据，然后进行绘制
               var simulation = d3.forceSimulation(nodes)
                   .force("link", d3.forceLink(links).distance(200))
                   .force("charge",d3.forceManyBody().strength(-100))
                   .force("center",d3.forceCenter(width/2, height/2));
               //设置颜色标尺
               var color = d3.scaleOrdinal(d3.schemeCategory20);
               // 绘制线
               var svg_links = svg.selectAll("path")
                   .data(links)
                   .enter()
                   .append("path")
                   .attr("id",function(d,i){
                       return "edgepath"+i;
                   })
                   .style("stroke",function(d){
                       return color(d.value);
                   })
                   .style("stroke-width",3);
                //添加circle元素
               var svg_nodes = svg.selectAll("circle")
                   .data(nodes)
                   .enter()
                   .append("circle")
                   .attr("r",circle_radius)
                   .attr("title",function(d){
                       return d.type;
                   })
                   .attr("flag",0)
                   .attr("comment",function(d){return d.labelName})
                   .attr("id",function(d,i){
                       return "cid"+i;
                   })
                   .call(d3.drag()
                       .on("start", dragstarted)
                       .on("drag", dragged)
                       .on("end", dragended));
               //添加节点描述
               //节点描述
               var svg_text = svg.selectAll("text")
                   .data(nodes)
                   .enter()
                   .append("text")
                   .style("fill","#000")
                   .attr("dominant-baseline","middle")
                   .attr("id",function(i,d){return "nodetext"+d;})
                   .attr("text-anchor", "middle")//在圆圈中加上数据
                   .text(function(d){
                       return d.labelName;});

               function draw(){
                   svg_nodes
                       .attr("cx",function(d){return d.x;})
                       .attr("cy",function(d){return d.y;})
                       .attr("fill",function (d) {
                           return color(d.value);
                       });

                   svg_text
                       .attr("x", function(d){ return d.x; })
                       .attr("y", function(d){ return d.y; });

                   // svg_links
                   //     .attr("d",function(d){
                   //         return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y
                   //     })
                   //     .attr("marker-end", "url(#resolved)");


               }
               simulation.on("tick",draw);
               function dragstarted(d) {
                   if (!d3.event.active)
                       simulation.alphaTarget(0.002).restart();
                   d.fx = d.x;
                   d.fy = d.y;
               }

               /**
                * 节点拖拽事件
                */
               function dragged(d) {
                   d.fx = d3.event.x;
                   d.fy = d3.event.y;
               }

               /**
                * 节点（结束）拖拽事件
                */
               function dragended(d) {
                   if (!d3.event.active)
                       simulation.alphaTarget(0);
               }

               function restart() {
                   // Apply the general update pattern to the nodes.
                   // Apply the general update pattern to the links.
                   svg_links = svg_links
                       .data(links,function (d) {
                           return d.source+ "-" + d.target.name;
                       });

                   svg_links = svg_links.enter()
                       .append("path")
                       .style("stroke","#ccc")
                       .style("stroke-width",3)
                       .merge(svg_links);

                   svg_nodes = svg_nodes
                       .data(nodes, function (d) {
                           return d.labelName;
                       })
               .enter()
                       .append("circle")
                       .attr("r",circle_radius)
                       .merge(svg_nodes).call(d3.drag()
                           .on("start", dragstarted)
                           .on("drag", dragged)
                           .on("end", dragended));
                   var dom = document.querySelectorAll("circle");
                   for (var len = dom.length, i = 0; i < len; i++) {
                       if (d3.select(dom[i]). select('circle').empty()) {
                           svg_nodes.append("circle")
                               .attr("fill", function (d) {
                                   return d.labelName;
                               })
                       .attr("r", 30);
                       }
                   }
                   //节点描述
                   svg_text = svg_text
                       .data(nodes,function (d) {
                           return d.labelName;
                       })
                     .enter()
                       .append("text")
                       .style("fill","#000")
                       .attr("dominant-baseline","middle")
                       .attr("text-anchor", "middle")//在圆圈中加上数据
                       .text(function(d){return d.labelName;}).merge(svg_text);
                   // svg_text = svg_text.data()
                   // Update and restart the simulation.
                   simulation.nodes(nodes);
                   simulation.force("link").links(links);
                   simulation.alpha(1).restart();
               }

               $(document).on("click","circle",function () {
                   var circletitle = $(this).attr("title");//获取该节点的type
                   if(circletitle == "AccidentCase"){
                       var flag = $(this).attr("flag");//根据flag来确定是显示或者隐藏相关节点关系,当flag%2=0,点击节点显示，否则隐藏
                       var comment = $(this).attr("comment");//获取节点的labelName
                       $.get({
                           url:"/getFullRelations?caseId="+comment,
                           dataType:"json",
                           async:"false",
                           success:function (data) {
                               nodes1 = data.nodes;
                               links1 = data.links;
                               var nodes2 = [];//新建一个nodes2对象，用来存放除了案件节点之外其他节点的数据
                               //生成新的节点数组nodes2
                               $.each(nodes1,function (i,d) {
                                   if(d.labelName != comment){
                                       nodes2.push(d);
                                   }
                               });
                               //遍历新生成的节点数组，并将其追加到nodes尾部
                               $.each(nodes2,function (i,d) {
                                   nodes.push(d);
                               });
                               //遍历links1，确定节点，并重新生成新的links2，并且填充到links中
                               //将links1z中的source和target更新
                               $.each(links1,function (i,d) {
                                   source = d.source;
                                   target = d.target;
                                   //遍历nodes1
                                   $.each(nodes1,function (i1,d1) {
                                       if(source==i1){
                                           var label = d1.labelName;
                                           $.each(nodes,function (i2,d2) {
                                               if(label==d2.labelName){
                                                   links1[i].source=i2;
                                               }
                                           });
                                       }
                                       if(target==i1){
                                           var label = d1.labelName;
                                           $.each(nodes,function (i2,d2) {
                                               if(label==d2.labelName){
                                                   links1[i].target=i2;
                                               }
                                           });
                                       }
                                   });
                               });
                               //将links1追加到links中
                               $.each(links1,function (i,d) {
                                   links.push(d);
                               });
                               console.log(nodes);
                               console.log(links);
                               // d3.timeout(function(){
                               //
                               //     nodes.push(nodes);
                               //     links.push(links);
                               //     simulation.alphaTarget(0.002).restart();
                               // }, 4000);
                           }
                       });
                   }
               });

           }
       }) ;
    });
</script>
</body>
</html>